<div class="footer-div">
  <address>
    <span class="footer-text">Blue Heaven Technologies</span><br>
    <a href="https://www.google.com/maps/place/2820+S+English+Station+Rd,+Louisville,+KY+40299/@38.1953751,-85.4762568,17z/data=!3m1!4b1!4m5!3m4!1s0x8869a2f9826c926b:0xb901b3f12c5da5b8!8m2!3d38.1953751!4d-85.4740681"><i class="fa fa-map-marker fa-lg fa-fw" aria-hidden="true"></i>2820 S. English Station Road, Louisville, KY 40299</a><br>
    <a href="tel:+15023570132"><i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>+1 (502) 357-0132</a><br>
    <a href="mailto:info@blueheaventech.com"><i class="fa fa-envelope-o fa-lg fa-fw" aria-hidden="true"></i>info@blueheaventech.com</a><br>
  </address>
</div>