{% extends 'partials/base.html' %}

{% block page_content %}
<h1 class="page-title">Testing Services</h1>

<div id="air-filtration" class="row-wrapper">
  <div class="content-row">
    <div class="column primary-column">
      <section class="section-block">
        <h2 class="section-title">Air Filtration Testing</h2>
        <p>Cillum aliqua ground round, sint capicola id t-bone jowl swine exercitation laboris proident. Meatball bacon mollit biltong ground round. Ham beef alcatra flank short loin commodo kevin. Venison salami enim turkey brisket boudin. Hamburger shoulder swine doner dolore. Tenderloin ut sint pig. Irure pork chop id elit sausage, proident tongue fugiat chuck mollit corned beef pig minim kielbasa esse.</p>
      </section>
    </div>  <!-- /.primary-column -->
    <div class="column secondary-column">
      <figure>
        <img src="http://lorempixel.com/200/200/city" alt="Placeholder Image">
        <figcaption>Placeholder Image</figcaption>
      </figure>
    </div>  <!-- /.secondary-column -->
    <div class="column tertiary-column">
      <section class="section-block">
        <p>Spicy jalapeno bacon ipsum dolor amet adipisicing tempor swine cupidatat id voluptate frankfurter pork loin kielbasa sunt ut aute. Chicken shoulder elit, dolor dolore jowl meatloaf t-bone ipsum dolore pastrami spare ribs flank andouille veniam. Prosciutto ullamco cupidatat sint brisket leberkas veniam. Turducken est minim et, laborum pork belly boudin elit pariatur ad beef turkey ribeye consequat. Nulla pork chop tempor rump. Ut short ribs tempor pork belly frankfurter short loin.</p>
    </div>  <!-- /.tertiary-column -->
  </div>  <!-- /.content-row -->
</div>  <!-- /.row-wrapper -->

<div id="emissions" class="row-wrapper">
  <div class="content-row">
    <div class="column primary-column">
      <section class="section-block">
        <h2 class="section-title">Emissions Testing</h2>
        <p>No one knows more about industrial emissions testing than Blue Heaven. We have made numerous processes more efficient and reliable than ever by introducing new testing technologies and innovative procedures. Our PC based data acquisition equipment provides immediate results. It is the most advanced, reliable testing equipment available.</p>
      </section>
    </div>  <!-- /.primary-column -->
    <div class="column secondary-column">
      <figure>
        <img src="http://lorempixel.com/200/200/city" alt="Placeholder Image">
        <figcaption>Placeholder Image</figcaption>
      </figure>
    </div>  <!-- /.secondary-column -->
  </div>  <!-- /.content-row -->
</div>  <!-- /.row-wrapper -->

<div id="play-days" class="row-wrapper">
  <div class="content-row">
    <div class="column primary-column">
      <section class="section-block">
        <h2 class="section-title">Play Days</h2>
        <p>Learn the "nuts and bolts" of filter testing by scheduling a Blue Heaven "Play Day." Spend a day with our staff and receive full use of our testing facilities as well as technical assistance in air filtration product development. Conduct your own tests, evaluate medias, or study contruction methods.</p>

        <p>We also conduct custom designed air filtration training sessions. Learn test procedures, industry standards, or product design and construction. Sessions can be tailored to newcomers, intermediate or advanced levels.</p>
      
        <p>To learn more feel free to <a href="{{ url_for('contact') }}">Contact Us</a>.</p>
      </section>
    </div>  <!-- /.primary-column -->
  </div>  <!-- /.content-row -->
</div>  <!-- /.row-wrapper -->

<div id="test-dusts" class="row-wrapper">
  <div class="content-row">
    <div class="column primary-column">
      <section class="section-block">
        <h2 class="section-title">Test Dusts</h2>
        <p>Reliable test results that allow accurate comparability from test to test require dust with a consistent formulation. Blue Heaven dust is manfactured in strict accordance with ASHRAE specifications (52.1 and 52.2). Our process control and state-of-the-art blending equipment assure each batch is produced per spec and with the exact same formulation. Blue Heaven test technicians have 16 years of experience producing ASHRAE dust.</p>

        <h3 class="section-title">Round Robin Tested</h3>
        <p>When Blue Heaven ASHRAE dust was developed, a comprehensive series of tests were conducted with three major filter manufacturers to verify the test results were directly comparable with other sources of dust commonly avaiable.</p>

        <h3 class="section-title">Made to Order</h3>
        <p>Each batch is made to order and shipped promptly. No frustrating delays in receiving your supply. A Batch Report and Material Safety Data Sheet (MSDS) is included in each shipment.</p>
      </section>
    </div>  <!-- /.primary-column -->
    <div class="column secondar-column">
      <h4 class="section-title">Test Dusts Offered</h4>
      <ul>
        <li>A1 - Ultra Fine</li>
        <li>A2 - Fine (Formerly AC Fine / SAE Fine)</li>
        <li>A3 - Medium</li>
        <li>A4 - Coarse</li>
        <li>ISO 12103-1 Dusts</li>
        <li>ASHRAE Dust (used in 52.1, 52.2, and EN779)</li>
        <li>Custom blended test dusts</li>
      </ul>
      <h4 class="section-title">Product Availability</h4>
      <ul>
        <li>ISO dust - 4 pound container</li>
        <li>ASHRAE dust - 5 pound and 10 pound bags</li>
      </ul>
    </div> <!-- /.secondary-column -->
  </div>  <!-- /.content-row -->
</div>  <!-- /.row-wrapper -->
{% endblock %}

  